/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require default
 *= require toggle-switch
 *= require component
 *= require_tree .
 */

/*
 * NAVBAR
 */
#navbar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
}

#navList {
  list-style-type: none;
  display: inline;
  margin-top: 0;
  padding: .3em .7em;
}

#navList li {
  display: inline;
}

#navList li #logo {
  margin-top: 5px;
}

#navList li #logo_sm {
  margin-top: 5px;
  display: none;
}

#navList li#slider {
  float: right;
  width: 200px;
  height: 40px;
  margin-right: 20px;
}

#navList li#slider #toggleswitch {
  position: relative;
  top: 37%;
  height: 35px;
}

#navList li#slider #toggleswitch img.gender {
  width: 27px;
  height: 35px;
}

#navList li#slider #toggleswitch div#bothgenders {
  min-width: 40px;
}

  /**
   * Grid
   */
  #grid li {
    border: 10px solid transparent;
    padding: 0;
  }

  .product {
    cursor: pointer;
  }

  /**
   * FLIPS!
   */
  .flipper {
    margin: 0 auto;
    -moz-transition: -moz-transform .75s ease-in; 
    -webkit-transition: -webkit-transform 1s ease-in; 
    -o-transition: -o-transform 1s ease-in;
    transition: transform 1s ease-in;
    -moz-transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d; 
    -o-transform-style: preserve-3d; 
    transform-style: preserve-3d; 
  }

  .flipper > div {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; 
  }

  .flipping {
    -moz-transform: rotateY(180deg); 
    -webkit-transform: rotateY(180deg); 
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .flipping .side-a:hover .like-dislike-wrapper {
    display: none;
  }

  /**
   * Product Side-A
   */
  .side-a {
    position: relative; 
  }

  .side-a .like-dislike-wrapper {
    font-family: 'linecons';
    position: absolute;
    height: 120px;
    width: 100%;
    background: white;
    opacity: 0;
  }

  .side-a:hover .like-dislike-wrapper {
    opacity: 0.7;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity; 
    -o-transition-property: opacity; 
    transition-property:opacity;
    -moz-transition-duration: .5s; 
    -webkit-transition-duration: .5s; 
    -o-transition-duration: .5s;
    transition-duration: .5s;
  }

  .side-a .like-dislike-wrapper > div {
    height: 60px;
    font-size: 63px;
    width: 50%;
    float: left;
    padding: 25px 0 0 55px;
  }

  .side-a .like-dislike-wrapper > div .like {
  }

  .side-a .like-dislike-wrapper > div .like:hover {
  }

  .side-a .like-dislike-wrapper > div .dislike {
  }

  .side-a .like-dislike-wrapper > div a.likeicon {
   
  }

  .side-a .like-dislike-wrapper > div a.likeicon:hover {
    color: red;
  }  

  .side-a .like-dislike-wrapper > div a.dislikeicon:hover {
    color: #FFCC11;
  }

  .side-a img {
    width: 100%;
    min-height: 280px; 
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
  }

  /**
   * Product Side-B
   */
  .side-b {
    background-color: #33363B;  
    height:100%;
    width:100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    cursor: pointer;
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform:rotateY(-180deg);
  }

  .side-b p.title {
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    font-size: 20px;
    text-align: center;
    margin: 16px 0;
  }

  .side-b p.price {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 16px auto 0;
  }

  .side-b a.buy-button {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 120px;
    background-color: #63D1F4;
    color: black;
    border-radius: 20px;
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .side-b a.buy-button img {
    margin: 0 auto;
  }
/**
 * Footer
 */
#infscr-loading {
  width: 100%;
  position: fixed;
  bottom: 30px;
  text-align: center;
  transition: none;
}

#page-nav {
  display: none;
}

#infinite-scroll-end {
  display: none;
  width: 100%;
  text-align: center;
  margin: 40px auto;
}
