/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require default
 *= require toggle-switch
 *= require component
 *= require_tree .
 */

/*
 * NAVBAR
 */
#navbar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
}

#navList {
  list-style-type: none;
  display: inline;
  margin-top: 0;
  padding: .3em .7em;
}

#navList li {
  display: inline;
}

#navList li #logo {
  margin-top: 5px;
}

#navList li #logo_sm {
  margin-top: 5px;
  display: none;
}

#navList li#slider {
  float: right;
  width: 200px;
  height: 40px;
  margin-right: 20px;
}

#navList li#slider #toggleswitch {
  position: relative;
  top: 37%;
  height: 35px;
}

#navList li#slider #toggleswitch img.gender {
  width: 27px;
  height: 35px;
}

#navList li#slider #toggleswitch div#bothgenders {
  min-width: 40px;
}

/**
 * Grid
 */
  #grid li {
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
    border-radius: 20px;
    border: 0;
    margin: 10px;
    padding: 0;
  }

  /**
   * Product Side-A
   */
  .side-a {
    position: relative;
  }

  .side-a .like-dislike-wrapper {
    display: none;
    font-family: 'linecons';
  }

  .side-a:hover .like-dislike-wrapper {
    position: absolute;
    display: block;
    height: 30%;
    width: 100%;
    margin-top: -20%;
    top: 50%;
    background: white;
    opacity: 0.7;
  }

  .side-a .like-dislike-wrapper > div {
    height: 60px;
    font-size: 63px;
    width: 50%;
    float: left;
    padding: 25px 0 0 55px;
  }

  .side-a .like-dislike-wrapper > div .like {
  }

  .side-a .like-dislike-wrapper > div .like:hover {
  }

  .side-a .like-dislike-wrapper > div .dislike {
  }

  .side-a .like-dislike-wrapper > div a.likeicon {
   
  }

  .side-a .like-dislike-wrapper > div a.likeicon:hover {
    color: red;
  }  

  .side-a .like-dislike-wrapper > div a.dislikeicon:hover {
    color: #FFCC11;
  }

  .side-a img {
    border-radius: 20px;
    width: 100%;
  }

  /**
   * Product Side-B
   */
  .side-b p {
    display: none;
  }  


















