/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require component
 *= require default
 *= require_tree .
 */
.like{
  height: 60px;
  
  position: absolute;
  width: 50%;
  background-color: white;
  opacity: 0.9;
  overflow: hidden;
  z-index: 50;
  text-align: center;
  font-family: 'linecons';
  font-size: 40px;
}

.dislike{
  height: 60px;
  position: absolute;
  right:0%;
  width: 50%;
  background-color: white;
  opacity: 0.9;
  overflow: hidden;
  text-align: center;
  float: right;
  font-family: 'linecons';
  font-size: 40px;
}

body {
  background-color: white !important;
}

img {
  margin: 0 auto;
}

ul.grid li div.product {
  position: relative;
}

.like-dislike { 
  display: none;
}

span#sessionkey {
  display: none;
}
