@media screen and (max-device-width: 900px) {

  .side-a {
    position: relative;
    background-color: white;
  }
  
  .side-a img {
    padding-bottom: 120px
  }  

  .side-a .like-dislike-wrapper > a.likeicon:hover {
    color: #6b7381;
  }

  .side-a .like-dislike-wrapper > a.dislikeicon:hover {
    color: #6b7381;
  }

  .flipper {
    position: relative;
     box-shadow: inset 0 0 0px rgba(255,255,255,.3), 0 0px 0px 0px rgba(0,0,0,0);
  }

  .side-a:hover .like-dislike-wrapper, 
  .side-a .like-dislike-wrapper, 
  .side-a .like-dislike-wrapper:hover {
    display: block;
    bottom: 0;
    opacity: 1;
    background: white;
  }

  .flipping-forward .like-dislike-wrapper:hover,
  .flipping-forward .like-dislike-wrapper,
  .flipping .like-dislike-wrapper:hover,
  .flipping .like-dislike-wrapper,
  .flipped .side-a .like-dislike-wrapper:hover,
  .flipped .side-a .like-dislike-wrapper {
    display: none;
  }

  .title {
    top: 10px;
  }

  .buy-button {
    top: 0;
    height: 120px;
    box-shadow: inset 0 0 0px rgba(255,255,255,1), 0 0px 0px 0px rgba(0,0,0,0);
  }

  .buy-button:hover {
    color: black;
    background-color: #63D1F4;
  }  

  .buy-button:active {
    color: black;
    background-color: #00aae0;
  }

  .price {
    font-weight: 600;
    font-size: 18px;
    top: 0px;
  }

}
