<% products.each do |product| %>
  <li class="item animate masonry-brick wrap" rel="<%= product.id %>">
    <div class='like-wrapper'>
      <div class="like">
        <a class="likeicon" href="#">&#xe000;</a>
      </div>
      <div class="dislike">
        <a class="dislikeicon" href="#">&#xe028;</a>
      </div>
    </div>  
    <div class="front-side">
      <%= image_tag product.large_image, { class: 'product-img', alt: product.title, title: product.title} %>
    </div>
    <div class="back-side">
      <%= product.title %>
    </div>
  </li>
<% end %>
