<div class="container">
  <ul class="grid effect-3" id="grid">
    <% @products.each do |product| %>
      <li>
        <a href="<%= product.buylink %>">
          <img src="<%=p roduct.large_image %>">
        </a>
      </li>
    <% end %>
  </ul>
</div>

