<div class="container">
  <ul class="grid effect-2" id="grid">
    <%@products.each do |product| %>
        <li>
            <a href="<%=product.buylink %>">
                <div><div class="like"></div><img src="<%=product.large_image%>"></div>
            </a>
        </li>
    <%end%>
  </ul>
</div>

