<div class="container">
  <ul class="grid effect-1 transitions-enabled infinite-scroll clearfix masonry" id="grid">
    <%= render partial: "product_list", locals: {products: @products} %>
  </ul>

  <div id="page-nav">
    <%= link_to 'More Products', "/products/load?page=#{Time.now.to_i}&session_key=#{@simple_session[:session_key]}" %>
  </div>
</div>

